.sectionminiheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 300px;
	background-color: #ffffff;
	color: #ac084d;
	font-family: 'Braah One', sans-serif;
}

.sectionminiheader {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 300px;
	background-color: #ffffff;
	color: #ac084d;
	font-family: 'Braah One', sans-serif;
	height: 25px;
}

.sectionminiheader h4:hover {
	text-decoration: underline;
}
