.sectionminiheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 300px;
	background-color: #ffffff;
	color: #ac084d;
	font-family: 'Braah One', sans-serif;
}

.sectionminiheader {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 300px;
	background-color: #ffffff;
	color: #ac084d;
	font-family: 'Braah One', sans-serif;
	height: 25px;
}

.h4 {
	text-decoration: underline;
	color: #ac084d;
	font-family: 'Braah One', sans-serif;
	height: 25px;
}

.sectionminiheader h4:hover {
	text-decoration: underline;
}

@media (max-width: 431px) {
	.sectionminiheader {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0;
		background-color: #ffffff;
		color: #ac084d;
		font-family: 'Braah One', sans-serif;
		height: 25px;
	}
}
