.bandComponent {
	position: sticky;
	top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: linear-gradient(black, #ac084d);
	border-radius: 50px;
	color: white;
	max-width: 400px;
	margin-top: 30px;
	margin-left: 30px;
}

.bandImg {
	width: 100%;
	max-width: 300px;
	border-radius: 8px;
	margin-bottom: 20px;
	position: relative;
	opacity: 56%;
}

.bandImg::before {
	content: '';
	position: absolute; /* Establece posición absoluta */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Degradado */
	border-radius: 8px; /* Bordes redondeados */
}

.moreAbout {
	font-size: 14px; /* Tamaño de fuente más pequeño */
	margin-bottom: 10px; /* Espacio inferior */
}

.textContainer h4 {
	font-size: 28px; /* Tamaño de fuente más grande */
	margin: 0; /* Elimina el margen */
}
