section {
	background-color: #fbfbfbe2;
	border-radius: 50px;
	padding: 20px;
	display: flex;
	margin-bottom: 20px;
	height: 30px;
	width: 850px;
	cursor: pointer;

	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregar una transición suave */
}

section:hover {
	transform: scale(1.05); /* Reducir el tamaño en un 5% */
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.6); /* Aumentar la sombra */
}

h2 {
	opacity: 40%;
	font-size: 20px;
	font-weight: 100;
}

section > div:nth-child(1) {
	display: flex;
	align-items: center;
}

section > div:nth-child(1) img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

section > div:nth-child(1) h2 {
	margin: 0;
}

section > div:nth-child(2) {
	margin-left: auto;
	margin-right: 20px;
}

.image-outline {
	font-size: 30px;
	color: #000000;
}

@media (max-width: 431px) {
	section {
		background-color: #fbfbfbe2;
		border-radius: 50px;
		padding: 14px;
		display: flex;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		height: 45px;
		width: 355px;
	}

	h2 {
		opacity: 40%;
		font-size: 20px;
		font-weight: 100;
		width: 200px;
	}

	section > div:nth-child(2) {
		margin-left: auto;
		margin-right: 20px;
		margin-top: 6px;
	}
}

/* Estilo para el fondo del popup y la disposición general */
#popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff; /* Fondo blanco */
	width: 80%; /* O ajusta al tamaño deseado */
	max-width: 600px; /* Ancho máximo para que no sea demasiado grande */
	padding: 40px; /* Padding generoso para dar espacio */
	border-radius: 15px; /* Bordes redondeados suaves */
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra suave para un efecto elevado */
	z-index: 9999;
}

/* Estilo para el contenedor interno donde se escribe el post */
#popupContent {
	color: #333; /* Color de texto oscuro para mejor legibilidad */
	font-size: 16px; /* Tamaño de letra adecuado */
	line-height: 1.5; /* Espaciado de línea para mejor lectura */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#MCR {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0202021b;
}

#MCRtext {
	font-family: 'Red Hat Display', sans-serif;
	font-style: normal;
	color: #000000;
	align-self: center;
	font-size: 9px;
}

#titlee {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cc00001b;
	margin: 5px;
}

#title-c {
	font-family: 'Red Hat Display', sans-serif;
	font-optical-sizing: auto;
	font-weight: 1000;
	font-style: normal;
	color: #ac084d;
	align-self: center;
	letter-spacing: 2px;
}

#postTitle {
	background-color: #d8f9e7;
	width: 550px; /* Usa todo el ancho disponible */
	height: 15px; /* Altura adecuada para escribir varios renglones */
	padding: 5px; /* Padding interno */
	margin: 7px;
	border: 0.5px solid #00000000;
	border-radius: 5px;
}
#postInput {
	background-color: #ffe53e;
	width: 550px; /* Usa todo el ancho disponible */
	height: 60px; /* Altura adecuada para escribir varios renglones */
	padding: 5px; /* Padding interno */
	margin: 7px;
	border: 0.3px solid #00000000;
	border-radius: 5px;
}

#postURL {
	background-color: #ffdcdc;
	width: 550px; /* Usa todo el ancho disponible */
	height: 30px; /* Altura adecuada para escribir varios renglones */
	padding: 5px; /* Padding interno */
	margin: 7px;
	border: 0.5px solid #00000000;
	border-radius: 5px;
}

/* Estilo para la X de cierre */
#close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px; /* Tamaño más grande para fácil clic */
	height: 32px;
	line-height: 32px; /* Centrar el texto verticalmente */
	font-size: 16px;
	text-align: center; /* Centrar el texto horizontalmente */
	color: #ffffff; /* Texto blanco */
	background-color: #ac084d; /* Fondo rojo */
	border-radius: 50%; /* Circular */
	cursor: pointer; /* Cursor de mano para indicar interactividad */
}

#close:hover {
	background-color: #d80e62; /* Rojo más oscuro al pasar el ratón */
}
