.artistContainer {
	display: flex;
}

.artistPost {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
	margin-right: 10px;
	height: 163px;
	width: 403px;
	flex: 0 0 auto;
}

section {
	display: flex;
	background: linear-gradient(rgb(255, 255, 255), #76767632);
	border-radius: 70px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 20px;
	width: 500px;
}

.artistPost > div {
	margin-right: 20px;
}

.artistPost > div img {
	width: 60px;
	height: 60px;
	margin-right: 11px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: 15px;
}

.name {
	font-size: 20px;
	margin: 5px 0 5px; /* Ajustar el margen inferior */
}

.username {
	margin: 0;
}

.infoPost {
	margin: 1px 0;
}

.artistPost:last-child {
	flex-grow: 1;
	margin-bottom: 5px;
}

.profile {
	display: flex;
	flex-direction: row;
	height: 60px;
}

.infoProfile {
	display: flex;
	flex-direction: column;
}

.infoPost {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 18px; /* Agregar un margen inferior de 25px */
}

#titlepost {
	margin-bottom: 5px;
	margin-top: 6px;
}

@media (max-width: 431px) {
	.artistPost {
		display: flex;
		flex-direction: column;
		margin-left: 0px;
		margin-right: 10px;
		height: 175px;
		width: 275px;
		flex: 0 0 auto;
	}

	.artistPost > div img {
		width: 55px;
		height: 55px;
		margin-right: 10px;
		object-fit: cover;
		border-radius: 50%;
		margin-left: 6px;
	}
}
