.background {
	background-image: url(https://pbs.twimg.com/media/GNB8i2NXsAArgdl?format=jpg&name=large);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-size: 35px;
	color: white;
	font-family: 'Braah One', sans-serif;
	text-align: center;
}

#edit-profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 100%;
}

#button-log-out-container {
	height: 150px;
}

