.sectionmainheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	background-color: #ac084d;
	color: white;
	font-family: 'Braah One', sans-serif;
	font-size: 25px;
}

.sectionmainheader h1,
.sectionmainheader ion-icon {
	cursor: pointer; /* Cambia el cursor a una mano al pasar sobre h1 e ion-icon */
}

.div1 {
	flex-grow: 1;
}

.div2 ion-icon {
	margin-right: 10px;
	font-size: 35px;
}

@media (max-width: 431px) {
	.sectionmainheader {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 10px;
		background-color: #ac084d;
		color: white;
		font-family: 'Braah One', sans-serif;
		height: 140px;
	}

	.div1 {
		flex-grow: 1;
	}

	.div2 ion-icon {
		margin-right: 0;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		font-size: 35px;
	}

	h1 {
		font-size: 35px;
		margin-left: 10px;
	}
}
