#general {
	font-family: Arial, sans-serif;
	padding: 20px;
	width: 400px;
	margin: 20px;
	margin-left: 100%;
	/* margin-right: 0; */
	margin-top: -33rem;
}
.username-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

.input-username-section {
	display: flex;
	flex-direction: column;
}

.button-username {
	margin-left: 15px;
}

.info-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

.input-info-section {
	display: flex;
	flex-direction: column;
}

.button-info {
	margin-left: 15px;
}

#inputs {
	display: flex;
	flex-direction: column;
	width: 500px;
}

label {
	margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	padding: 8px;
	margin-bottom: 30px; /* Agregar espacio entre los inputs */
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 200px;
}

button.button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #ac084d;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
}

button.button:hover {
	background-color: #ac084d;
}

button.button:active {
	background-color: #ac084d;
}

label {
	margin-bottom: 5px;
	color: white; /* Cambiar el color del texto a blanco */
}

@media (max-width: 431px) {
	#general {
		font-family: Arial, sans-serif;
		padding: 105px;
		width: 200px;
		margin: -17px;
		margin-left: 3rem;
		/* margin-right: 0; */
		margin-top: 0rem;
		margin-bottom: 60px;
	}

	#inputs {
		display: flex;
		flex-direction: column;
	}

	label {
		margin-bottom: 5px;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'] {
		padding: 8px;
		margin-bottom: 30px; /* Agregar espacio entre los inputs */
		border-radius: 5px;
		border: 1px solid #ccc;
		width: calc(100% - 16px); /* Ancho del input menos los bordes */
	}

	button.button {
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		background-color: #ac084d;
		color: #fff;
		cursor: pointer;
		margin-top: 10px;
	}

	button.button:hover {
		background-color: #ac084d;
	}

	button.button:active {
		background-color: #ac084d;
	}

	label {
		margin-bottom: 5px;
		color: white; /* Cambiar el color del texto a blanco */
	}
}
