/* General styles for the profile form */
#general {
	font-family: Arial, sans-serif;
	padding: 20px;
	width: 400px;
	margin: 20px auto;
	background-color: #d10a644a;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: white;
}

/* Container for input sections */
#inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Styles for each input section */
.section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.input-section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.button-section {
	margin-left: 15px;
}

/* Label and input styles */
label {
	margin-bottom: 5px;
	font-weight: bold;
	color: white;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='file'] {
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: calc(100% - 16px); /* Full width minus padding */
	box-sizing: border-box;
}

input[type='file'] {
	padding: 3px;
}

/* Button styles */
button.button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #ac084d;
	color: #fff;
	cursor: pointer;
}

button.button:hover {
	background-color: #d10a63;
}

button.button:active {
	background-color: #7a0336;
}

/* Media query for smaller screens */
@media (max-width: 431px) {
	#general {
		padding: 20px;
		width: auto;
		margin: 20px;
	}

	#inputs {
		width: 100%;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'] {
		width: calc(100% - 16px);
	}
}
