.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.Image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregar una transición suave */
}

.Image:hover {
	transform: scale(1.1); /* Aumentar el tamaño de la imagen en un 10% */
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.6); /* Aumentar la sombra */
}

h1 {
	margin-bottom: 0;
	flex-wrap: nowrap;
	width: 150px;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 100;
	margin-top: 7px;
}

.braah-one-regular {
	font-family: 'Braah One', sans-serif;
	font-weight: 200;
	font-style: light;
}

.red-hat {
	font-family: 'Red Hat Display', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}
