.profileImg {
	width: 50px;
	height: 50px;
	border-radius: 35%; /* Para hacer la imagen redonda */
	margin-right: 15px;
}

.imagePost {
	width: 160px; /* Ancho fijo para la imagen */
	height: auto; /* Altura automática para mantener la proporción */
	border-top-left-radius: 50px; /* Borde redondo en la esquina superior izquierda */
	border-bottom-left-radius: 50px; /* Borde redondo en la esquina inferior izquierda */
}

.userPostProfile {
	display: flex;
	align-items: center;
	background-color: transparent; /* Fondo transparente */
}

#userPostProfile img {
	border-radius: 50%;
}

.userPostComponent {
	display: flex;
	flex-direction: column;
	border-radius: 3 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
}

.userPost {
	display: flex;
	margin-top: 15px;
}

.userPostProfileInfo {
	flex-grow: 1;
	color: rgb(255, 255, 255);
}

.PostInfo {
	display: flex;
	flex-direction: column;
	background-color: white; /* Fondo blanco */
	border-radius: 0 35px 35px 0; /* Bordes redondos solo en la esquina superior derecha e inferior derecha */
	padding: 15px; /* Espacio interno */
	max-width: 800px; /* Ancho máximo */
	overflow: auto; /* Mostrar barras de desplazamiento si el contenido excede el ancho máximo */
}

.PostInfo .Inner {
	display: flex;
	align-items: center;
}

.PostInfo .imagePost {
	margin-right: 0; /* Para que la imagen del post esté pegada al margen izquierdo */
}

.heart-outline {
	color: rgb(167, 43, 6);
	font-size: 25px;
}

.up {
	display: flex;
	flex-direction: row;
}

.language-outline {
	margin-left: auto;
	font-size: 20px;
}

.username {
	background-color: aqua;
}

.chatbubble-ellipses-outline {
	font-size: 22px;
	margin-left: 5px;
}
