#artist-posts-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow: auto; /* Esto hizo la scrollbar */
}

#a {
	display: flex;
	flex-direction: column;
	background-color: #b62034;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
}
