#artist-posts-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow: auto; /* Esto hizo la scrollbar */
}

#create-post-section {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 15px;
}

#postsContainer {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
	width: 900px;
	margin-left: 30px;
}

#user-posts-section {
	font-family: 'Red Hat Display', sans-serif;
}

#downpart {
	display: flex;
	flex-direction: row;
	background-color: #000000;
}

.artist-posts-section {
	background-color: #000000;
	font-family: 'Red Hat Display', sans-serif;
}

.braah-one-regular {
	font-family: 'Braah One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.red-hat {
	font-family: 'Red Hat Display', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}
